.maincantina {
	margin-left: 30%;
}

.titlec {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	width: 10em;
	height: auto;
	color: white;
	background-color: rgba(0,0,0,.9);
	border-style: solid;
	border-color: white;
	border-width: 1px;

}



.subtitlec {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	width: fit-content;
	height: auto;
	color: white;
	background-color: rgba(47.813,47.813,47.813,.9);
	border-style: solid;
	border-color: white;
	border-width: 1px;
}

.CantinaMap {
	position: absolute;
	display: inline-block;
	width: 40%;
	height: 70%;
	background-color: rgba(19,59,99,.9);
	display: block;
	margin: 30px;
	border-color: black;
	border-style: solid;
	border-width: 2px;
}




.MCantina {
	vertical-align: middle;
	justify-content: center;
	font-size: 30px;
    text-align: center;
    line-height: 200px;
	border-color: black;
	border-style: solid;
	border-width: 4px;
	background-color: slategray;
	width: 320px;
	height: 230px;
	padding: 10px;
	margin: 10px;

}

.Mesa1 {

	vertical-align: middle;
	justify-content: center;
	font-size: 20px;
    text-align: center;
	border-color: black;
	border-style: solid;
	border-width: 2px;
	background-color: slategray;
	padding: 50px;
	width: 120px;
	margin: 10px 30px;
}

.Mesa2 {
    vertical-align: middle;
	justify-content: center;
	font-size: 20px;
    text-align: center;
	border-color: black;
	border-style: solid;
	border-width: 2px;
	background-color: slategray;
	padding: 50px;
	width: 120px;
	margin: 10px 30px;
}

.Mesa3 {
    position: relative;
    display: inline-block;
    float: right;
    bottom: 590px;
	justify-content: center;
	font-size: 20px;
    text-align: center;
	border-color: black;
	border-style: solid;
	border-width: 2px;
	background-color: slategray;
	padding: 70px;
	width: 190px;	
	margin: 10px;
}

.Mesa4 {
    position: relative;
    display: inline-block;
    float: right;
    left: 340px;
    bottom: 320px;
	justify-content: center;
	font-size: 20px;
    text-align: center;
	border-color: black;
	border-style: solid;
	border-width: 2px;
	background-color: slategray;
	padding: 50px;
	width: 120px;
	margin: 10px;
}

.entrada {
	left: 99%;
	width: 30px;
	height: 99%;
}

.textoentrada {
	position:absolute;
	bottom:100px;
	padding-left: 88%;
	font-size: 20px;	
}
