body {
	font-family: monospace;
	color: white;
	text-shadow: 2px 3px 5px rgba(0,0,0,0.99);
	background-image: url(../images/background.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}

.space {
margin: 30px;
}

main {
	margin-right:10%;
	
}

.maincantina {
	margin-left: 30%;
}

img {
	top:5px;
	left:25px;
	margin: 0;
	padding-bottom: 10px;
	position: absolute;
	width: 64px;
	height: 64px;
}

.title {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	width: 500px;
	height: auto;
	color: white;
	background-color: rgba(0,0,0,.9);
	border-style: solid;
	border-color: white;
	border-width: 1px;
}

.titlec {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	width: 10em;
	height: auto;
	color: white;
	background-color: rgba(0,0,0,.9);
	border-style: solid;
	border-color: white;
	border-width: 1px;

}



.subtitle {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	width: 200px;
	height: auto;
	color: white;
	background-color: rgba(47.813,47.813,47.813,.9);
	border-style: solid;
	border-color: white;
	border-width: 1px;
}

.subtitlec {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	width: fit-content;
	height: auto;
	color: white;
	background-color: rgba(47.813,47.813,47.813,.9);
	border-style: solid;
	border-color: white;
	border-width: 1px;
}


nav {
	width: auto;
	margin: 5px;
	height: auto;
	padding: 20px;
	background-color: rgba(49,79,79,.9);
	border-color: black;
	border-style: solid;
	border-width: 1px;
}


.headtext {
	width: auto;
	margin-left: 5px;
	height: auto;
	padding: 10px;
	background-color: rgba(0,0,0,.9);
	color: white;
	margin:0;
	text-decoration-line:none;
	font-family: monospace;
}

.headtextright {
	position: sticky;
	width: auto;
	height: 10px;
	padding: 9px;
	background-color: rgba(0,0,0,.9);
	color: white;
	text-decoration-line:none;
	font-family: monospace;
	left: 95%;
}


.headtext:hover {
	width: auto;
	margin-left: 5px;
	height: auto;
	padding: 10px;
	background-color: rgba(0,0,0,.9);
	color: white;
	margin:0;
	text-decoration-line:none;
	font-family: monospace;
	border-style: outset;
	border-color: white;
}

.headtext:active {
	width: auto;
	margin-left: 5px;
	height: auto;
	padding: 10px;
	background-color: rgba(0,0,0,.9);
	border: 1px black;
	color: white;
	margin:0;
	text-decoration-line:none;
	font-family: monospace;
}

/*.space {
	padding:5px;
	margin-right: 5px;
	padding-top: 10px;
	padding-bottom: 10px;

}*/


.texto {
	font-size: 20px;
	text-align: center;
	background-color: rgba(0,0,0,.9);
	margin-left: auto;
	margin-right: auto;
	padding: 15px 15px;
	width: fit-content;
	border-style: solid;
	border-color: white;
	border-width: 1px;
	color: white;

}

aside {
	display: block;
	position: fixed;
	left: 79%;
	background-color: #ddd;
 /* Adjust as needed based on your layout */
	width: 20%; /* Adjust the width as needed */
	height: 72%;
	background-color: rgba(49,79,79,.9);
	border-color: black;
	border-style: solid;
	border-width: 1px;
}

.asideh1 {
	font-size: 30px;
	text-align: center;
	color:white;
	text-decoration-line: underline;
	margin-left: 1%;
	margin-right: 1%;
	margin-top: 0;
	padding: 1%;
}

.articles {
	border-style: solid;
	border-color: black;
	border-width: 2px;
	position: relative;
	width: 73%;
	height: 15%;
	min-width: 50px;
	background-color: white;
	position: relative;
	padding: 1% 1% 1% 1%;
	margin-left: 6%;
	margin-right: 6%;
}

.asidep {
	font-size: 25px;
	text-align: center;
	color:white;
	margin-left: 1%;
	margin-right: 1%;
	margin-top: 5px;
	padding: 1%;
}

.asidep-now {
	font-size: 25px;
	text-align: center;
	color:white;
	margin-left: 1%;
	margin-right: 1%;
	margin-top: 5px;
	padding: 1%;
	font-weight: bold;
	text-shadow: -2px 0px 15px rgba(232, 255, 26, 1);;
	text-decoration-line: underline;
	text-decoration-style: solid;
}


.CantinaMap {
	position: absolute;
	display: inline-block;
	width: 40%;
	height: 70%;
	background-color: rgba(19,59,99,.9);
	display: block;
	margin: 30px;
	border-color: black;
	border-style: solid;
	border-width: 2px;
}




.MCantina {
	vertical-align: middle;
	justify-content: center;
	font-size: 30px;
    text-align: center;
    line-height: 200px;
	border-color: black;
	border-style: solid;
	border-width: 4px;
	background-color: slategray;
	width: 320px;
	height: 230px;
	padding: 10px;
	margin: 10px;

}

.Mesa1 {

	vertical-align: middle;
	justify-content: center;
	font-size: 20px;
    text-align: center;
	border-color: black;
	border-style: solid;
	border-width: 2px;
	background-color: slategray;
	padding: 50px;
	width: 120px;
	margin: 10px 30px;
}

.Mesa2 {
    vertical-align: middle;
	justify-content: center;
	font-size: 20px;
    text-align: center;
	border-color: black;
	border-style: solid;
	border-width: 2px;
	background-color: slategray;
	padding: 50px;
	width: 120px;
	margin: 10px 30px;
}

.Mesa3 {
    position: relative;
    display: inline-block;
    float: right;
    bottom: 590px;
	justify-content: center;
	font-size: 20px;
    text-align: center;
	border-color: black;
	border-style: solid;
	border-width: 2px;
	background-color: slategray;
	padding: 70px;
	width: 190px;	
	margin: 10px;
}

.Mesa4 {
    position: relative;
    display: inline-block;
    float: right;
    left: 340px;
    bottom: 320px;
	justify-content: center;
	font-size: 20px;
    text-align: center;
	border-color: black;
	border-style: solid;
	border-width: 2px;
	background-color: slategray;
	padding: 50px;
	width: 120px;
	margin: 10px;
}

.entrada {
	left: 99%;
	width: 30px;
	height: 99%;
}

.textoentrada {
	position:absolute;
	bottom:100px;
	padding-left: 88%;
	font-size: 20px;	
}

.subirdatos {
	font-size: 17px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 190px;
	background-color: rgba(49,79,79,.9);
	padding: 10px;
	border-style: solid;
	border-color: black;
	border-width: 1px;
}

.sumbit {
	width: 100px;
	text-align: center;
	margin: 4px;
	background-color: rgba(19,59,99,.9);
	color: white;
	height: fit-content;
	font-size: 17px;
}













