body {
font-family: monospace;
color: white;
text-shadow: 1px 4px 19px rgba(0,0,0,0.56);
background-image: url(../images/background.jpg);
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100% 100%;
	
}

.space {
margin: 30px;
}

img {
top:5px;
left:25px;
margin: 0;
padding-bottom: 10px;
position: absolute;
width: 64px;
height: 64px;
}

.title {
text-align: center;
margin-left: auto;
margin-right: auto;
padding: 10px;
width: 500px;
height: auto;
background-color: black;
color: white;
background-color: rgba(0,0,0,.9);
border-style: solid;
border-color: white;
border-width: 1px;

}

.subtitle {
text-align: center;
margin-left: auto;
margin-right: auto;
padding: 10px;
width: 200px;
height: auto;
background-color: black;
color: white;
background-color: rgba(0,0,0,.9);
border-style: solid;
border-color: white;
border-width: 1px;
}

nav {
width: auto;
margin: 5px;
height: auto;
padding: 20px;
background-color: rgba(49,79,79,.9);
border-color: black;
border-style: solid;
border-width: 1px;
}


.headtext {
width: auto;
margin-left: 5px;
height: auto;
padding: 10px;
background-color: rgba(0,0,0,.9);
color: white;
margin:0;
text-decoration-line:none;
font-family: monospace;
}


.headtext:hover {
width: auto;
margin-left: 5px;
height: auto;
padding: 10px;
background-color: rgba(0,0,0,.9);
color: white;
margin:0;
text-decoration-line:none;
font-family: monospace;
border-style: outset;
border-color: white;
}

.headtext:active {
width: auto;
margin-left: 5px;
height: auto;
padding: 10px;
background-color: rgba(0,0,0,.9);
border: 1px black;
color: white;
margin:0;
text-decoration-line:none;
font-family: monospace;
}

/*.space {
	padding:5px;
	margin-right: 5px;
	padding-top: 10px;
	padding-bottom: 10px;

}*/


.texto {
font-size: 20px;
text-align: center;
background-color: rgba(0,0,0,.9);
margin-left: auto;
margin-right: auto;
padding: 10px;
width: 50%;
border-style: solid;
border-color: white;
border-width: 1px;
color: white;
}

aside {
position: relative;
background-color: #ddd;
float: right; /* Adjust as needed based on your layout */
width: 20%; /* Adjust the width as needed */
height: 72%;
background-color: rgba(49,79,79,.9);
border-color: black;
border-style: solid;
border-width: 1px;
}

.asideh1 {
font-size: 30px;
text-align: center;
color:white;
text-decoration-line: underline;
margin-left: 1%;
margin-right: 1%;
margin-top: 0;
padding: 1%;
}

.articles {
	border-style: solid;
	border-color: black;
	border-width: 2px;
	position: relative;
	width: 73%;
	height: 15%;
	min-width: 50px;
	background-color: white;
	position: relative;
	padding: 1% 1% 1% 1%;
	margin-left: 6%;
	margin-right: 6%;
}

.asidep {
font-size: 20px;
text-align: center;
color:white;
margin-left: 1%;
margin-right: 1%;
margin-top: 5px;
padding: 1%;
}

.asidep-now {
font-size: 25px;
text-align: center;
color:white;
margin-left: 1%;
margin-right: 1%;
margin-top: 5px;
padding: 1%;
font-weight: bold;
text-shadow: -2px 0px 15px rgba(232, 255, 26, 1);;
text-decoration-line: underline;
text-decoration-style: solid;
}